page-item-page {

  #body {
    background-color: #020244;
    color: #f4f4f4;
  }

  .immagine {
    text-align: center;
  }

  .sfondo{
    background-color: #020244;
    color: #f4f4f4;
  }

  button.sfondo{
    background-color: #020244;
    color: #f4f4f4;
  }

  .img {
    width: 80px;
    height: 80px;
    max-width: 150%;
  }

  .infoContainer{
    width: 100%;
    height: 100%;
    border: solid #f7f5f5;
    border-width: 1px;
  }

}
