page-characters {

  #body {
    background-color: #020244;
    color: #f4f4f4;
  }

  #center {
    margin-left: 1.8em;
  }

  button.sfondo{
    background-color: #020244;
    color: #f4f4f4;
  }


}
