page-char-page {

  #body {
    background-color: #020244;
    color: #f4f4f4;
  }

  .immagine {
    margin-left: 40%;
    width: 5.0em;
    height: 4.5em;
  }

  .sfondo{
    background-color: #020244;
    color: #f4f4f4;
  }

  button.sfondo{
    background-color: #020244;
    color: #f4f4f4;
  }

  button.sfondo.item.item-block.item-ios {
    height: 1.5em;
  }

}
